.txt{
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    padding-left: 10px;
}
.react-icons{
    color: #00ff00;
    height: 1.2em;
    font-size: 3em;
}
.ContactUs-container{
    min-height: "100vh";
     background: "#07031a";
     justify-content: "center";
     padding-top:"10vh";
}
@media screen and (max-width:500px){
    .txt{
        font-size: 24px;
    }
    .react-icons{
        font-size: 2em;
    }
}

@media screen and (max-width:400px){
    .txt{
        font-size: 18px;
    }
    .react-icons{
        font-size: 1.5em;
    }
}

